.slider__bg {
    z-index: 1;
    position: fixed;
    left: 0;
}

.slider__line {
    position: relative;
    top: 50%;
    left: 0;
}

.slider__thumb {
    position: relative;
    cursor: pointer;
    /* top: 50%; */
    /* left: 0; */
    border-radius: 7px;
}
